= simple_form_for @post, remote: true do |form|
  = form.input :name, as: :text, input_html: {style: 'height:35px;'}, required: true 
  = form.input :text, as: :text, input_html: {rows: '4'}, required: true 
  = form.button :submit, class: 'btn btn-primary'