// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  margin:10px;  
}  

#text {
  font-size:14px; 
  padding:5px;  
  margin:5px;  	
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0.5em 1em;  
}

#close {
  display: none;
}

textarea { resize: none; }

h2 {
  text-align: center;
}

#posts {
  margin-top: 25px;
  border-collapse: collapse;
  td, th {
    padding: 5px 8px;
    border: solid 1px #CCC;
    &:last-child {
      text-align: right;
    }
  }
}